@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

$text: hsl(226, 64%, 88%);
$bg: hsl(240, 21%, 15%);
$accent-1: hsl(23, 92%, 75%);
$accent-2: hsl(115, 54%, 76%);
$font-stack: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

button {
  all: unset;
  margin: 0.5rem;
  background-color: $accent-2;
  padding: 0 1rem;
  border-radius: 999px;
  height: 2rem;
}

body {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

aside {
  grid-area: sidebar;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  min-height: 100vh;
  width: 15rem;
  background-color: $bg;
  color: $text;

  h1 {
    font-size: 1.5rem;
  }

  ul:first-of-type {
    margin: auto 0;
  }

  li {
    list-style-type: none;
  }
}

header {
  grid-area: header;
  height: 10rem;
  background-color: green;

  #search {
    display: flex;
    justify-content: space-around;

    #search__bar {
      width: 50vw;
      height: 20px;
      border-radius: 999px;
      background-color: $accent-1;
      margin: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .search-icon {
        margin: 0 auto 0 0;
        color: $bg;
      }
    }

    div:last-child {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  #user__detail {
    display: flex;
    justify-content: space-between;

    > div {
      display: flex;
      justify-content: left;
    }

    img {
      margin: 0 1rem 0 4rem;
      width: 8%;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    h1 {
      font-size: 1.5rem;
    }
  }
}

main {
  grid-area: main;
  display: grid;
  
}
