@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

$text: hsl(226, 64%, 88%);
$bg: hsl(240, 21%, 15%);
$accent-1: hsl(23, 92%, 75%);
$accent-2: hsl(115, 54%, 76%);
$font-stack: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

* {
  transition: all 0.3s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

button {
  all: unset;
  margin: 0.5rem;
  background-color: $accent-1;
  padding: 0 1rem;
  border-radius: 999px;
  height: 2rem;
  cursor: pointer;
  color: $bg;
}

li svg {
  padding-right: 1rem;
}
svg {
  padding-right: 1rem;
}

li {
  text-align: left;
}

body {
  display: grid;
  grid-template-columns: 17rem 1fr 1fr;
  background-color: hsla(226, 64%, 88%, 10%);
  grid-template-areas:
    "sidebar header header"
    "sidebar main announcements";
}

#left {
  grid-area: sidebar;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  height: 100vh;
  width: 17rem;
  background-color: $accent-1;
  color: $bg;
  box-shadow: 0 0 10px transparent;

  div {
    display: flex;
  }

  h1 {
    font-size: 1.5rem;
  }

  ul:first-of-type {
    margin: auto 0;
  }

  li {
    list-style-type: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}

header {
  grid-area: header;
  height: 10rem;
  background-color: $bg;

  #search {
    display: flex;
    justify-content: space-around;
    color: $text;

    #search__bar {
      width: 50vw;
      height: 20px;
      border-radius: 999px;
      background-color: $text;
      margin: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px transparent;
      cursor: pointer;
      color: $bg;

      .search-icon {
        margin: 0 auto 0 0;
        color: $bg;
      }
    }

    div:last-child {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  #user__detail {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: $accent-2;

    > div {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-left: 3rem;
    }

    a {
      color: $accent-1;
    }

    h1 {
      font-size: 1.5rem;
    }
  }
}

main {
  grid-area: main;

  h1 {
    margin: 1rem 0 0 2rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;

    &:hover > div {
      opacity: 0.5;
    }

    > div {
      width: 23rem;
      padding: 1rem;
      border-radius: 9px;
      background-color: $text;
      box-shadow: 0 0 5px $text;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transform: scale(1.1) translateX(1rem) translateY(-1rem);
        box-shadow: none;
      }

      &:active {
        transform: scale(1) translateX(0) translateY(0);
      }
    }
  }
}

#right {
  grid-area: announcements;
  overflow: visible;
  max-height: 300px;

  section {
    margin: 0.5rem 0;

    > div {
      background-color: $bg;
      margin: 2rem;
      margin-left: 0;
      color: $text;
      border-radius: 9px;
      padding: 1rem 0;
      box-shadow: 0 0 10px transparent;
    }

    div > div {
      padding: 0 1rem;
      margin: 0.5rem 0;
    }

    h3 {
      margin: 1.5rem 0;
    }

    hr {
      height: 1px;
      border: none;
      background-color: $text;
      width: 70%;
      opacity: 0.3;
      margin: 0 auto;
    }
  }
}

h4 {
  font-size: 0.8rem;
}

p {
  font-size: 0.7rem;
  width: 90%;
}
